/* reference: https://www.tutorialrepublic.com/faq/how-to-auto-resize-an-image-to-fit-into-a-div-container-using-css.php */
.icon{
  width: 30px;
  height: 30px;
 
}

textarea{
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.display-img{
  width: auto;
  overflow: auto;
}

p{
    text-align: center;
}

div{
    padding: 15px;
}

.heart{
  text-align: center;
}

/* modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; 
    width: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* responvive to smal screens  */
  @media screen and (max-width: 600px){
    .modal-content{
      max-width: 90%!important;
    }
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  img{
    max-width: 50%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-lenght-btn{
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
}